{
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "semi": false
}
